<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="services.config" type="Labcyte.Core.Server.ServiceConfig, Instrument" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Labcyte.Core.Server.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
  </startup>
  <applicationSettings>
    <Labcyte.Core.Server.Properties.Settings>
      <setting name="SystemHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="SystemPort" serializeAs="String">
        <value>8170</value>
      </setting>
      <setting name="CmdHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="CmdPort" serializeAs="String">
        <value>3333</value>
      </setting>
      <setting name="CmdPath" serializeAs="String">
        <value />
      </setting>
      <setting name="CmdConnType" serializeAs="String">
        <value>tcp</value>
      </setting>
      <setting name="ServerCommProtocolVersion" serializeAs="String">
        <value>2019.1</value>
      </setting>
      <setting name="SystemSN" serializeAs="String">
        <value>COR-000000</value>
      </setting>
      <setting name="SystemModel" serializeAs="String">
        <value>CoreServer</value>
      </setting>
      <setting name="ScriptHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ScriptPort" serializeAs="String">
        <value>8171</value>
      </setting>
      <setting name="SystemConnType" serializeAs="String">
        <value>http</value>
      </setting>
      <setting name="ScriptConnType" serializeAs="String">
        <value>http</value>
      </setting>
      <setting name="SystemPath" serializeAs="String">
        <value>/Core/System</value>
      </setting>
      <setting name="ScriptPath" serializeAs="String">
        <value>/Core/Script</value>
      </setting>
      <setting name="ConfigHost" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ConfigPort" serializeAs="String">
        <value>8173</value>
      </setting>
      <setting name="ConfigConnType" serializeAs="String">
        <value>http</value>
      </setting>
      <setting name="ConfigPath" serializeAs="String">
        <value>/Core/Config</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>Trace</value>
      </setting>
    </Labcyte.Core.Server.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--- The following dependencies are necessary for scripting -->
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.3.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.3.0" />
      </dependentAssembly>
      <!--- End scripting dependencies -->
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" culture="neutral" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.FileVersionInfo" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.AttributedModel" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.31.0" newVersion="1.0.31.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Runtime" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.31.0" newVersion="1.0.31.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Thread" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.TypedParts" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.31.0" newVersion="1.0.31.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Composition.Hosting" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.31.0" newVersion="1.0.31.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>